@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 2fr 5fr;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
}

h2 {
  font-weight: bold;
  color: #0290ff;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

a {
  opacity: 0.5;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

a.active {
  color: #121212;
  opacity: 1;
}

#userBtn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: transparent;
  border: none;
  outline: none;
}

#userImg {
  width: 6%;
}
